/**
custom edits my Makamu E.
these changes are designed to tweak the metis css so as to allign the site with my theme
 */
/*div#wrap.bg-dark.dk{
    background-color: #F5F5F5 !important;
    color: white !important;
}
nav.navbar.navbar-inverse.navbar-static-top{
    background-color: #EA4A5A !important
}
.btn-custom{
    color: white !important;
}*/
/*.btn-logout{
    color: white !important;
}
.btn-logout:hover{
    color: #EA4A5A;
}
a{
    color: #EA4A5A !important;
}
a:hover{
    color: red !important;
}
div.collapse.navbar-collapse.navbar-ex1-collapse{
    border-color: #EA4A5A;
}
.bg-blue.dker{
    background-color: #444444!important;
}
._login{
    margin-left: 5%;
    margin-right: 5%;
}
div.panel-heading{
    text-align: center;
    background-color: #EA4A5A !important;
}
button.btn.btn-primary{
    background-color: #EA4A5A !important;
}*/
label{
    text-align: left !important;
    color: #EA4A5A;
}
.row{
    margin-right: 15px;
    margin-left: 15px;
}
.bg-blue.dker{
    background-color: #222222 !important;
}
div.media.user-media.bg-dark.dker{
    background-color: #222222 !important;
}
div.user-wrapper.bg-dark{
    background-color: #222222 !important;
}
ul#menu.bg-blue.dker{
    background-color: #222222 !important;
}
/**
form wizard styles
 */


.top-content { padding: 40px 0 170px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { padding-top: 40px; }

.f1 {
    padding: 25px; background: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute;
    top: 0; left: 0;
    height: 1px;
    background: #EA4A5A; }

.f1-step {
    position: relative;
    float: left;
    width: 33.333333%;
    padding: 0 5px; }

.f1-step-icon {
    display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
    font-size: 16px; color: #fff; line-height: 40px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #EA4A5A;
    color: #EA4A5A;
    line-height: 38px;
}
.f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #EA4A5A;
    font-size: 22px;
    line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #EA4A5A; }
.f1-step.active p { color: #EA4A5A; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #f35b3f; }

div.f1-step-icon{
    text-align: center;
}
.form-box{
    padding-top: 0px !important;
}

/**
Vue Modal
 */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 60%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.pullquote-left{
    border-left:5px solid #EA4A5A;
    margin-top: 20px;
    background-color: #F5F5F5;
}
.pullquote-left:hover{
    background-color: #49ffe1 !important;
}
.pullquote-left a:hover{
    color: white !important;
}
.myTicket{
    min-height: 200px;
    max-height: 500px;
    overflow-y: scroll;
}
.myTicket div.panel-heading{
    text-align: left !important;
}
.modal-container{
    width: 90% !important;
}
.accordion-section-title{
    background-color: #F5F8FA;
}
.successful{
    background-color: #76ff7b;
    border-radius: 15px;
}
.failure{
    background-color: red;
}
.completed{
    pointer-events: none;
    opacity: 0.4;
}
.btn{
    border-radius: 0px;
    border: 1px solid;
}
#left{
    background-color: black !important;
}
.bg-dark .dker{
    background-color: #F5F5F5 !important;
}
.bg-dark {
    background-color: #F5F5F5 !important;
}
#menu li a {
    box-shadow: none !important;
}
#menu li {
    color: red !important;
}
.head{
    text-shadow: none !important;
}
span.link-title{
    text-shadow: none;
    color: #9d9d9d !important;
}
span.link-title:hover{
    color: white !important;
}
li.nav-header{
    background-color: #EA4A5A !important;
}
input{
    border-radius: 0px !important;
    border: 1px solid #3EBBDD !important;
}

/*
chat window*/
.chat-window{
    bottom:0;
   /* position:fixed;
    float:right;*/

}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:300px;
    overflow-x:hidden;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

/*
tabs
 */
.accordion-tabs-minimal {
    line-height: 1.5;
    padding: 0;
}

.accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table;
}

.accordion-tabs-minimal .tab-header-and-content {
    list-style: none;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-header-and-content {
        display: inline;
    }
}

.accordion-tabs-minimal .tab-link {
    border-top: 1px solid #dcdcdc;
    color: #333;
    display: block;
    padding: 0.75em 1.618em;
    text-decoration: none;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-link {
        border-top: 0;
        display: inline-block;
    }
}

.accordion-tabs-minimal .tab-link:hover {
    color: #477dca;
}

.accordion-tabs-minimal .tab-link:focus {
    outline: none;
}

.accordion-tabs-minimal .tab-link.is-active {
    border-bottom: 0;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-link.is-active {
        border: 1px solid #dcdcdc;
        /* border-bottom-color here needs to be set to the same color as your background to hide the top border on the content */
        border-bottom-color: #fff;
        margin-bottom: -1px;
    }
}

.accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.5em 1.618em;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #dcdcdc;
        float: left;
    }
}